system/
config/idea.key
.idea/
*.iml
config/c.pwd
config/c.kdbx
config/terminal
config/tasks
config/extensions
config/options/markdown.xml
config/options/databaseDrivers.xml
config/options/usage.statistics.xml
config/options/mavenVersion.xml
config/options/recentProjects.xml
config/options/updates.xml
config/options/ui.lnf.xml
config/options/dimensions.xml
config/options/window.manager.xml
config/options/availables.xml
config/options/availables.xml.etag
config/options/webServers.xml
config/options/laf.xml
config/options/colors.scheme.xml
config/options/stubIndex.xml
config/options/window.state.xml
config/plugins/extensions.xml
config/plugins/availables.xml
config/plugins/availables.xml.etag
config/plugins/Gradi.jar
config/plugins/IntelliJLightTheme.jar
config/sonarlint/plugins
config/eval
config/port
config/consoles
config/jdbc-drivers
config/workspace